html, body {
    height: 100%;
    margin: 0;
}

.register-form-container {
    /* background: url('../assets/images/laundry-register-bg.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: 100vh; 
    display: flex;
    margin: -30px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* .form-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
*/


/* .jpbtn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}  */

.btn:hover {
    background-color: #0056b3;
}
