body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}


.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff6f61 !important;
  text-transform: uppercase;
}

.navbar-brand .logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin-right: 15px;
}

.form-container {
  max-width:600px;
  margin: auto;
  padding: 20px;
  background-color: rgb(181, 164, 164);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-card, .offer-card, .review-card{
  border: none;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-card img, .offer-card img, .review-card img  {
  border-radius: 8px 8px 0 0;
}

.service-card .card-body, .offer-card .card-body, .review-card .card-body {
  padding: 15px;
  text-align: center;
}

.service-card .card-title, .offer-card .card-title, .review-card .card-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.service-card .card-text, .offer-card .card-text, .review-card .card-text {
  font-size: 1rem;
  color: #6c757d;
}

.review-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px auto;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

h1, h2 {
  color: #222020;
  margin-bottom: 30px;
}

h3 {
  color: #1479dd;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

footer {
  background-color: #ffffff;
  color: rgb(92, 90, 90);
  padding: 20px 0;
}


.jo{
  color: black;
}
.jp{
  color: #f8f9fa;
}